<!-- app/views/pages/home.html.erb -->
<%= render "components/page/page" do %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-75 m-auto">
    <p class="navbar-brand">Stunning Octo Pancake</p>
  </nav>
  <div class="jumbotron w-75 mt-5 ml-auto mr-auto">
    <h1 class="text-center mb-5" id="jumboHeader"></h1>
    <div class="wrapper"></div>
  </div>
  <div id="map"></div>
<% end %>